:root {
  --text-color: rgb(194 193 255);
  --background-color: #53568e;
  --highlight-color: rgb(142, 140, 236);
  --accent-color: rgb(255, 201, 53);
}

html {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: Helvetica, sans-serif;
}

.title, .subtitle {
  text-align: center;
}

.title {
  margin-bottom: 6px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 40px;
}

.ql-editor.ql-blank::before {
  color: var(--highlight-color);
}

.highlight {
  background-color: var(--highlight-color);
}

.highlight-text {
  color: var(--highlight-color);
}

.accent-text {
  color: var(--accent-color);
}

#editor {
  height: 400px;
}

.box {
  max-width: 600px;
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
  margin: auto;
}

.proper-noun {
  border-bottom: 1px dotted var(--accent-color);
}

.animate-highlight {
  color: var(--background-color);
  animation: highlighter 0.5s forwards;
  cursor: pointer;
}

@keyframes highlighter {
  from {color: var(--text-color);}
  to {color: var(--accent-color)}
}

.replacement {
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.replacement:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.suggestion {
  padding: 20px;
}

/* suggestion padding 0 on mobile */
@media only screen and (max-width: 600px) {
  .suggestion {
    padding: 0;
  }
}